name: Yeastar.SmsApiClient master build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x  
    - name: Restore dependencies
      run: dotnet restore ./Yeastar.SmsApiClient.sln
    - name: Build
      run: dotnet build ./Yeastar.SmsApiClient.sln --configuration Release -p:Version=1.0.0.${{ github.run_number }} --no-restore
    - name: Build
      run: dotnet publish ./Yeastar.SmsApiClient.sln --configuration Release -p:Version=1.0.0.${{ github.run_number }} --no-restore
    - name: Publish NuGet
      run: dotnet nuget push "./src/Yeastar.SmsApiClient/bin/Release/net5.0/publish/*.nupkg" -k ${{ secrets.YeastarNugetKey }} -s https://api.nuget.org/v3/index.json
